*,
*::before, 
*::after {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

img {
	display: block;
	max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}
strong {
	font-weight: bolder;
}
/* -------TYPOGRAPHY -------*/
@font-face {
    font-family: 'xxxx';
    font-weight: normal;
    src: url('xxx/xxxxxxxxx.xxx') format('xxxx');
}
/* -------ROOT STYLES -------*/

:root {
    --clrBackground: hsl(60 100% 50%);
    --clrPrimary: rgb(112, 35, 35);
    --clrNeutral: hsl(0 100% 50%);
    --clrAccent: hsl(0 100% 50%);
    --ffBody: 'font-family', sans-serif;
    --ffNav: 'font-family', sans-serif;
    --ffHeading: 'font-family', sans-serif;
    --fsBody: 1rem;
	--fsTitle: clamp(3.5rem, 12vw + 1rem, 12rem);
    --maxContentSize: clamp(10rem, 90vw, 65.25rem);

}

/* -------MOBILE FIRST -------*/

.class {
	/* Display Sutff */
	/* Positioning Sutff */
	/* Box Model */
	/* Typography */
	/* Manipulation */
	/* Miscelanious */
}

/* Estilo del Nav */
header{
	background: aqua;
    /* opacity: 0.5; */
	text-align: center;
	position: sticky;
    top: 0;
	width: 100%;
	z-index: 666;
    /* min-height: 5.5rem; */
    display: flex;
}
.logo{
	margin: 1.5em 0;
	
}
.nav-toggle{
	display: none;
}
.nav-toggle-label{
	position: absolute;
	top: 0;
	right: 1rem;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

/* .nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	display: block;
	background: black;
	height: 3px;
	width: 2em;
	position: relative;
	
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	content:'';
	position: absolute;
}
.nav-toggle-label span::before{
	bottom: 7px;
}
.nav-toggle-label span::after{
	top: 7px;
} */
nav{
	/* position: absolute; */
	/* text-align: left; */
	/* top: 100%; */
	/* left: 0; */
	/* background: var(--background); */
	width: 100%;
	/* transform: scale(1, 0); */
	/* transform-origin: top; */
	/* transition: transform 400ms ease-in-out; */
    display: flex;
    flex-direction: column;
	
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

/* nav a{
	color: white;
	text-decoration: none;
	font-size: 1.2 rem;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
} */
nav a:hover{
	color: #DCBD6B;
}
.nav-toggle:checked ~ nav {
	transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle:checked nav-toggle-label span{
	opacity: 0;
}
.nav-toggle:checked span::before{
	transform: rotate(45deg);
}
.nav-toggle:checked span::after{
	transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
	.nav-toggle-label{
		display: none;
	}
	header{
		display: grid;
		grid-template-columns: .5fr auto minmax(600px, 3fr) .5fr;
	}
	.logo{
		grid-column: 2 / span 1;
	}
	nav{
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul{ 
		display: flex;
	}
	nav li{
		margin-left: 3em;
		margin-bottom: 0;
	}
	nav a{
		opacity: 1;
		position: relative;
	}
	nav a::before {
		content:'';
		display: block;
		height: 4px;
		background: #DCBD6B;
		width: 100%;
		position: absolute;
		top: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transform-origin: right;
		transition: transform ease-in-out 250ms;

	}
	nav a:hover::before{
		transform: scale(1,1);
	}
	
}
/*-------DESKTOP STYLES--------*/

@media screen and (min-width: 850px) { }

/*------- ANIMATION RESET --------*/
@media (prefers-reduced-motion) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.heroHome {
    background-image: url("../img/hero-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 35rem;
    background-color: #DCBD6B;
    position: relative;
    display: grid;
	/* Display Sutff */
	/* Positioning Sutff */
	/* Box Model */
	/* Typography */
	/* Manipulation */
	/* Miscelanious */
}
.fraseHero{
    margin: auto;
    /* position: absolute; */

}
.fraseMenu{
    position: absolute;
    right: 15%;
    top: 1rem;
}
.textoHome{
    /* display: grid; */
    padding-top: 2rem;
    
}
.textoHome p{
    max-width: 50ch;
    margin: auto;
    text-align: center;
}
